* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.head-content {
  position: relative;
  background-color: #83C5BE;
  min-height: 100vh;
}

.page-desc {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 32vw;
  transform: translate(-25vw, -50%);
}

.page-desc {
  max-width: 24rem;
}

.page-desc img {
  width: 18rem;
}

.page-desc h2 {
  font-weight: 300;
  line-height: 40px;
}

.navbar-brand img {
  height: 3.5rem;
  padding-left: 30px;
  padding-right: 7px;
}

.desc-img {
  max-width: 48rem;
  position: absolute;
  top: 50%;
  left: 64vw;
  transform: translate(-25vw, -50%);
}

.desc-img img {
  max-width: 50rem;
  min-width: 15rem;
}

.page-desc a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #EDF6F9;
}

.log-in-link {
  position: absolute;
  top: 15rem;
}

.page-desc button {
  position: absolute;
  top: 14.7rem;
  left: 8rem;
  width: 60%;
  height: 22%;
}

.sign-up-link {
  justify-content: center;
}

.teachers-section h1 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 3vh;
}

.carousel-item img {
  background: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.carousel {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 3vh;
}

.carousel-control-next, .carousel-control-prev{
    filter: invert(100%);
}
